<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block header %}
    <h3>list.htmlです</h3>
    {% endblock header %}

    {% block content %}
    {% for post in object_list %}
    {{ post.title }}
    {{ post.memo }}
    <!-- 「update」や「delete」はpath()の第三引数からもってくる -->
    <a href="{% url 'update' post.pk %}">編集</a>
    <a href="{% url 'delete' post.pk %}">削除</a>
    <a href="{% url 'detail' post.pk %}">詳細</a>
    {% endfor %}
    {% endblock content %}

</body>

</html>