<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'signup.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}

<body>
    <p>{{ error_message }}</p>

    <h2>登録画面</h2>
    <form method="POST">{% csrf_token %}
        <label for="email">email</label>
        <input type="text" name="username">
        <br><br>
        <label for="password">password</label>
        <input type="password" name="password">

        <button type="submit">登録</button>
    </form>
</body>
{% endblock content %}

</html>